{% extends 'base.html' %}

{% load static %}


{% block content %}

 <!-- food section -->
</div>
  <section class="food_section layout_padding-bottom" style="color: white; margin-top: -500px">
    <div class="container">
      <br>
      <div class="heading_container heading_center">
        <h2 class="our-menu-word">
          Наше Меню
        </h2>
      </div>
      <br><br>
      <div class="filters-content">
        <div class="row grid">
          {% for product in page %}
          <div class="col-sm-6 col-lg-4 all burger" style="border-radius:15px">
            <div class="box" style="margin: 30px 0;">
              <div style="background-color:white">
                <div class="img-box" style="background-color:#36C744"> 
                  <img src="{{ product.Image.url }}" alt="">
                </div>
                <div class="detail-box" style="background-color:white">
                  <h5 style="color:black;">
                    {{ product.Name }}
                  </h5>
                  <p id='soz' style="color:black">
                    {{ product.Descreption }}
                  </p>
                  <div class="">
                    <hr>
                    {% if user.is_authenticated %}
                    <button style="margin-top: 0px;" id="add-to-cart" data-product='{{ product.id }}' data-action='add' class="btn btn-outline-secondary add-btn update-cart" id='button Add to Cartadd'>Add to cart</button>
                    <style type="text/css">
                      #add-to-cart {
                        border: 1px solid;
                        padding: 10px;
                        box-shadow: 1px 5px 10px #fa2048;
                        display: inline-block;
                        padding: 10px 45px;
                        background-color: #FF375B;
                        color: #ffffff;
                        border-radius: 45px;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        border: none;
                        margin-top: 10px;
                      }

                      #add-to-cart:hover {
                        background-color: #fa2048;
                      }
                    </style>

                    <a style="color:black" id="btn-view" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal-{{ forloop.counter }}">View</a>

                    <style type="text/css">
                      #btn-view { 
                        border: solid 1px #FF375B; 
                        border-radius: 0.25rem; 
                        padding: 7px 25px;
                        margin-top: 5px; 
                        font-size: 1rem;
                        margin-left: 20px
                      }

                      #btn-view:hover {
                        background-color: #FF375B;
                        cursor: pointer;
                      }
                    </style>

                    <h4 style="color:black; padding-top: 35px; padding-left: 140px; text-decoration: underline;">
                      <strong>
                        UZS {{ product.Price }} 
                      </strong> 
                    </h4>
                    
                    {% else %}
                    <a href="{% url 'login' %}">
                      <button class="add-to-cart"> 
                        Add to cart 
                      </button>
                    </a>
                    <a style="color:black" class="btn-view" data-toggle="modal" data-target="#exampleModal-{{ forloop.counter }}">View</a>

                    <style type="text/css">
                      .btn-view { 
                        border: solid 1px #FF375B; 
                        border-radius: 0.25rem; 
                        padding: 7px 25px;
                        margin-top: 5px; 
                        font-size: 1rem; 
                        margin-left: 20px
                      }

                      .btn-view:hover {
                        background-color: #FF375B;
                        cursor: pointer;
                      }
                    </style>
                    <h4 style="display: inline-block; float: right;">
                      <strong>
                        {{ product.Price }}
                      </strong> 
                    </h4>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
     <!-- menular tugashi -->
   <br>
   <div class="col-md-6">
    <div class="col-12 my-5"> 
      <nav aria-label="Page Navigation">
       {% if page.has_previous %}
       <a href="{% url 'menu'%}?page={{page.previous_page_number }}"><button class="add-to-cart1">Предыдущая страница</button></a>
       {% endif %} 
       {% if page.has_next %}
       <a href="{% url 'menu' %}?page={{page.next_page_number}}"><button class="add-to-cart1">Следующая страница</button></a>
       {% endif %}

     </nav>
   </div>
   <style type="text/css">
    button{ 
      margin-top: 15px;
      border: none;
      text-transform: uppercase;
      display: inline-block;
      padding: 10px 55px;
      background-color: #ffbe33;
      color: #ffffff;
      border-radius: 45px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      border: none;
    }
  </style>

</div>
</div>

<!-- Mahsulotlarni qalqib chiqadigan card hosil qilish -->

{% for mahsulot in page %}
<div class="modal fade" id="exampleModal-{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-{{ forloop.counter }}
" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="{{ mahsulot.Image.url }}" alt="" width="150">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color:black;">
        <h3>{{ mahsulot.Name }}</h3>
        <p>{{ mahsulot.Descreption }}</p>
        <div>
          <span class="price" style="text-decoration: underline; font-size: 18px"> UZS {{ mahsulot.Price }}</span>
          <div>
            <i></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- Tugash qismi -->

</section>

{% endblock content %}


